
.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-container button {
    margin: 5px;
    padding: 15px 15px;
    background-color: #fbc33a;
    color: #1c2a52;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1c2a52;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #333;
}

th {
    background-color: #fbc33a;
    color: #1c2a52;
}

td .active {
    color: #fbc33a;
    font-size: 20px;
}

.edit, .delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fbc33a;
}

.edit:hover, .delete:hover {
    color: #ffd700;
}